<template>
  <div class="app-menu min-vh-100">
    <b-img src="../assets/buu.png" width="80%" class="pt-2 pb-2" center></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/about">About</b-nav-item>
      <b-nav-item @click="showFormInput = !showFormInput"
        >Form Input
        <b-icon
          :icon="showFormInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./textValue"
        >Text Value</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./type"
        >Type</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./RangeType"
        >RangeType</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./ControlSizing"
        >ControlSizing</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./TextState"
        >TextState</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./TextState2"
        >TextState2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./Formatter"
        >Formatter</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./DetailSupport"
        >DetailSupport</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./DebounceSupport"
        >DebounceSupport</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./Html5"
        >Html5</b-nav-item
      >

      <b-nav-item @click="showForm = !showForm"
        >Form
        <b-icon
          :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="./Form"
        >Form</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./FormTextHelper"
        >FormTextHelper</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./FormFeedbackHelper"
        >FormFeedbackHelper</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showForm" to="./FormDatalistHelper"
        >FormDatalistHelper</b-nav-item
      >
      <b-nav-item @click="showCrudEx = !showCrudEx"
        >CRUD Ex
        <b-icon
          :icon="showCrudEx ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCrudEx" to="./datatable1"
        >Data table 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCrudEx" to="./productform1"
        >Product Form 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCrudEx" to="./productTable"
        >Product Table</b-nav-item
      >

    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCrudEx: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: gray;
  font-size: 10pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
